body {
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    color:rgb(66, 60, 60);

}

.game-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 800px;
    height: 509px;
    border: solid rgb(73, 66, 66) 1.5px;
    background-image: linear-gradient(to right, rgba(0, 255, 136, 0.527) , rgba(0, 217, 255, 0.74));

}

#result {
    margin-left: 180px;
}

.grid {
    position: absolute;
    margin-top: 69px;
    width: 400px;
    height: 309.9px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(73, 66, 66) 1.5px;
}